@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

[id='toggle-heart'] {
    position: absolute;
    left: -100vw;
  }

[for='toggle-heart'] {
    color: #aab8c2;
  }
  
  [id='toggle-heart']:checked + label {
    color: #e2264d;
  }  

  [for='toggle-heart'] {
    font-size: 2em;
    cursor: pointer;
  }

.likebuttonsmall{
    font-size: 5px;
    width: min-content;
    height: 30px;
    border-color: white;
    background-color:white;
    border-color: white;
    text-decoration-color: #aab8c2;

}

.unlikebuttonsmall{
  font-size: 5px;
  width: min-content;
  height: 30px;
  fill: #e2264d;
  text-decoration-color: #aab8c2;
  flood-color: red;
  background-color:white;
  border-color: white;
}


/* body{
  background-color:#e2264d;
  background-image: url("https://i.pinimg.com/originals/3c/15/93/3c159314b68b1e73d9b5cf6c2de2e9d3.jpg");
  width: 100%;
} */

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background-color: #1a1b1b;
}




.body {
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 0px;
  padding: 120px;
  padding-top: 100px;
  border-color: rgb(61, 61, 61);
}

.logo{
  /*    margin: -4px*/
  /*    border-radius: 5px;*/
      box-sizing: content-box;
      margin-top: -7px;
      margin-bottom: -7px;
      padding-top: 1px;
      font-size: 22px;
  }
  
  .logo:hover{
      background-color: #3b3b3b;
  }
  
  .nav_opt{
      border-radius: 8px;
  }
  
  .nav_opt:hover{
      background-color: #3b3b3b;
  }
  
  .textarea{
    margin-left: 20px;
    background-color: #1a1b1b;
    border: none;
    color:#d4d4d4;
    font-size: 20px;
    width: 850px;
    outline: none;
    height:80px;
  }


  .submit-btn{
    margin-left: 366px;
  }


  h2{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #d4d4d4;
  }

  .li_parent {
    padding-left: 0px;
    padding-right: 0px;
  }

  .li_item {
    background-color: #1a1b1b;
    border: none;
    list-style-type: none;
    color: #d4d4d4;
  }

  
  .user_name {
    font-size: 25px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
  }
  
  .user_name:visited {
    font-size: 25px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
  }
  
  .user_name:hover {
    font-size: 25px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
  }
  
  .user_name:ac {
    font-size: 25px;
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
  }


  .profilePicSide {
    width: 40px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  
  .fa-user {
    font-size: 25px;
    margin-right: 10px;
  }
  /* .li_item:hover {
    background-color: #1a1b1b;
    border: none;
  } */
  
  .para {
    font-size: 18px;
    margin: 3px;
    margin-left: 35px;
  }
  
  .postImg {
    width: 40%;
    border-radius: 20px;
    margin: 3px;
    margin-top: 12px;
    margin-left: 35px;
  }

  .postProImg {
    width: 40%;
    border-radius: 20px;
    margin: 3px;
    margin-top: 12px;
    /* margin-left: 35px; */
  }

  .small_textarea {
    margin-left: 20px;
    background-color: #1a1b1b;
    border: none;
    color:#d4d4d4;
    font-size: 18px;
    width: 850px;
    outline: none;
    height:80px;
    margin: 3px;
    margin-left: 33px;
    margin-top: -23px;
  }


  .under {
    margin-top: 10px;
    font-size: 16px;
    color: #aab8c2;
    font-family: 'Lato', sans-serif;
  }

  .itemm {
    margin-top: 20px;
    margin-left: 35px;
  }

  .button-like {
    background-color: #1a1b1b;
    border: none;
    color: #aab8c2;
    font-size: 16px;
  }

  .post-button {
    margin-left: 35px;
    /* margin-top: 4px; */
    margin-bottom: 14px;
  }


  .users {
    text-align: center;
    font-size: 80px;
  }

  .user-form {
    width: 32vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #3b3b3b;
    padding: 5vw;
    border-radius: 5px;
    padding-top: 2vw;
  }

  .form-control {
    width: 100%;
    border: none;
  }

  .user-end {
    margin-top: 20px;
    color: #d4d4d4;
  }

/* profile part starts here */
  .user-logo i{
    font-size: 100px;
    color: #d4d4d4;
  }

  .user-logo {
    text-align: center;
  }

  .user-name{ 
    text-align: left;
    color: #d4d4d4;
    font-size: 30px;
  }

  .user-follow {
    text-align: left;
    margin-top: 7px;
    /* margin-left: auto; */
  }

  .sub-row {
    width: 800px;
  }

  .user-followers {
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    color: #d4d4d4;
    margin-top: 15px;
  }

  .sub-row-two {
    width: 600px;
  }

  .sub-row-three {
    margin-left: 0px;
    color: #d4d4d4;
  }


  .profile-posts {
    margin-top: 50px;
    list-style: none;
    color: #d4d4d4;
  }

  .date {
    font-size: 15px;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
  }

  .profilePic {
    width: 140px;
    border-radius: 50%;
  }



  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    /* background-color: #5cb85c; */
    display: inline-block;
    border: none;
    border-radius: 4px;
    margin: 0px;
    padding: 3px;
    padding-left: 21px;
    padding-right: 30px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    /* background-color: #5cb85c; */
    border: none;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}



.inputprof {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputprof + label {
  font-size: 1.25em;
  font-weight: 700;
  /* background-color: #5cb85c; */
  display: inline-block;
  border: none;
  border-radius: 4px;
  margin: 0px;
  padding: 3px;
  padding-left: 21px;
  padding-right: 30px;
  color: #1a1b1b;
  background-color: #d4d4d4;
  margin-left: -48px;
  font-size: 14px;
}

.inputprof:focus + label,
.inputprof + label:hover {
  /* background-color: #5cb85c; */
  border: none;
}

.inputprof + label {
cursor: pointer; /* "hand" cursor */
}




/* alert message */

.alert {
  margin-top: 20px; 
}









/* notification box */

#notificationBox {
  background-color: #272727;
  position: fixed;
  top: 70px;
  right: 20px;
  height: 400px;
  width: 300px;
  z-index: 5;
  border-radius: 10px;
  display: none;
}


#notificationBox h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.defaultCursor:hover {
  cursor:default;
}


.searchBar {
  margin-left: 8px;
  border-radius: 10px;
  height: 30px;
}

.searchButton {
  padding: 3px;
}