{% extends "network/layout.html" %}
{% load static %}

{% block body %}

{% if add_info == "all_posts" %}
{% if user.is_authenticated %}

<div>
  {% comment %} BE CAREFUL - always use enctype="multipart/form-data" with forms while uploading a file with it or you will spend 1 hour debugging the problem{% endcomment %}
   <form action = "{% url 'create' %}" method="post" enctype="multipart/form-data">
       {% csrf_token %} 
    <div class="form-group w-25">
      {% comment %} <label for="posting">Post</label> {% endcomment %}
      <textarea class="textarea" type="text"  name ="data" class="form-control"  placeholder="Start jotting..."></textarea>
    </div>
    <div class="row">
      <div class="col">
        <input type="file" id="myfile" name="img" class="inputfile" accept="image/*">
        <label for="myfile"><i class="fa-solid fa-image"></i></label>
      </div>
      <div class="col">
        <button type="submit" value="Post "class="submit-btn btn btn-success">
          Quack
        </button>
      </div>
    </div>
    </form>
</div>  
<hr style="border-color:rgb(61, 61, 61)">
{% endif %}
<h2>Latest Posts</h2>


{% endif %}
{% if add_info == "following_posts" %}
<h2>Followed posts</h2>
   {% if entries|length == 0 %}
      You haven't followed any people yet!
   {% endif %}
   {% comment %} <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{page_obj.previous_page_number}}">previous</a>
        {% endif %}
  
        <span class="current" style="color:white;">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
  
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">next</a>
            <a href="?page={{page_obj.paginator.num_pages}}">last &raquo;</a>
        {% endif %}
    </span>
  </div> {% endcomment %}
  
{% endif %}



<h3 style="display:none;">{{ids}}</h3>
{% comment %} <i class="far fa-heart"></i> {% endcomment %}
    <ul class="li_parent">
    {% for entry in entries %}
        <li style="" class="li_item">
          <a href="{% url 'profile' entry.user.id %}" class="user_name"><i class="fa-solid fa-user"></i>{{entry.user|title }}</a><br>
              <div class="view_one">
                <div class = "para lead" >{{entry.data}}</div>
                {% if  entry.post_image%}
                <img src="{{entry.post_image.url}}" class="postImg" alt="image">
                {% endif %}
                <ul class="nav under">
                  <li class="nav-item itemm">
                    <p class="time">{{entry.time}}</p>
                  </li>
                  <li class="nav-item itemm">
                    <div id ="{{entry.id}}">
                      {{entry.likers.count}}
                    </div>
                  </li>
                  <li class="nav-item itemm">
                    {% if userobj in entry.likers.all %}
                      <form class= "likeunlike">
                          <div style="display: block;"  class="two" id={{entry.id}}>
                            {% csrf_token %}
                            <input type="hidden" class="entry_id" name="entry_id" value="{{entry.id}}">
                            <input type="hidden" class="liked" name="liked" value="no">
                            <button class="unlikebuttonsmall button-like"  type="submit">
                              {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                              </svg>
                              Unlike {% endcomment %}
                              <i class="lni lni-heart-filled"></i>
                            </button>
                          </div>

                          <div style="display: none;" class="one" id={{entry.id}}>
                            {% csrf_token %}
                            <input type="hidden" class="entry_id" name="entry_id" value="{{entry.id}}">
                              <button class="likebuttonsmall button-like"  type="submit">
                                {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                                Like {% endcomment %}
                                <i class="lni lni-heart"></i>
                              </button>
                          </div>
                      </form>
                    {% else %}
                      
                      <form class="likeunlike">  
                          <div style="display: block;" class="one" id={{entry.id}}>
                            {% csrf_token %}
                              <input type="hidden" class="entry_id" name="entry_id" value="{{entry.id}}">
                              <input type="hidden" class="liked" name="liked" value="yes">
                              <button class="likebuttonsmall button-like"  type="submit" >
                                {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                                Like {% endcomment %}
                                <i class="lni lni-heart"></i>
                              </button>
                          </div>
                          <div style="display: none;" class="two" id={{entry.id}} >
                            <input type="hidden" class="entry_id" name="entry_id" value="{{entry.id}}">
                            <button class="unlikebuttonsmall button-like"  type="submit" >
                              {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                              </svg>
                              Unlike {% endcomment %}
                              <i class="lni lni-heart-filled"></i>
                            </button>
                          </div>                   
                      </form>
                      
                      {% endif %}
                  </li>
                  <li class="nav-item itemm">
                    {% if entry.user.id == request.user.id %}
                        <form class="EDIT">
                          {% csrf_token %}
                          <input type="hidden" class="entry_id" name="entry_id" value="{{entry.id}}">
                          <button type="submit" class="button-like"> 
                          <i class="lni lni-pencil"></i>
                        </button>
                        </form>
                    
                      {% endif %}
                  </li>
                </ul>
                
                
                
                
                 
                
                
            </div>
            <div style="display: none;" class="view_two">
              <form class="edit">
                {% csrf_token %} 
                <div class="form-group w-25">
                  <label for="posting"></label>
                  <input type="hidden" class="entry_id" name="entry_id" value="{{entry.id}}">
                  <textarea type="text" class="small_textarea" name ="data"  class="form-control" >{{entry.data}}</textarea>
                </div>
                <div class="row">
                  <div class="col">
                    <input type="file" id="myfile" name="img" class="inputfile" accept="image/*">
                    <label for="myfile"><i class="fa-solid fa-image"></i></label>
                  </div>
                  <div class="col">
                    <input type="submit" value="Post" class="btn btn-success post-button"></button>
                  </div>    
                </div>
              </form>
            </div>  
          
            
            
        </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{page_obj.previous_page_number}}">previous</a>
        {% endif %}
  
        <span class="current" style="color:#d4d4d4">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
  
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">next</a>
            <a href="?page={{page_obj.paginator.num_pages}}">last &raquo;</a>
        {% endif %}
    </span>
  </div>



  
{% endblock %}

{% block script %}
    <script  src="{% static 'network/like.js' %}"></script>
{% endblock %}