{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div class="row">
        <div class="col-sm-3 user-logo">
            {% if  profilePicUrl %}
                <img src="{{profilePicUrl}}" class="profilePic" alt="img">
            {% else %}
                <i class="fa-solid fa-user"></i>
            {% endif %}
        </div>
        <div class="col-sm-9">
            <div class="row sub-row">
                <div class="col-sm-3 user-name">
                    {{person_profile|title}}
                </div>
                <div class="col-sm-9 user-follow">
                    {% if person_id != request.user.id %}
                        {% if show_follow_button == 1 %}
                        <div style="display:block;" id = "first">
                            <form id="follow">
                                {% csrf_token %}
                                <input type="hidden" id="puser_id" name="puser_id" value="{{puser.id}}">
                                <input type="hidden" id="followers" name="followers" value="{{nfollowers}}">
                                
                                <input type="submit" value=" Follow  " class="btn btn-primary btn-sm">
                            
                            </form>
                        </div>
                            
                    
                        <div style="display:none;" id = "second">
                            <form id="unfollow">
                                {% csrf_token %}
                                <input type="hidden" id="custId" name="Follow_unfollow" value="unfollow">
                                <input type="submit" value="Unfollow" class="btn btn-secondary btn-sm">
                            </form>   
                        </div>

                        {% else %}  
                        <div style="display:none;" id = "first">
                            <form id="follow">
                                {% csrf_token %}
                                <input type="hidden" id="puser_id" name="puser_id" value="{{puser.id}}">
                                <input type="hidden" id="followers" name="followers" value="{{nfollowers}}">
                                
                                <input type="submit" value=" Follow  " class="btn btn-primary btn-sm">
                            
                            </form>
                        </div>
                            
                    
                        <div style="display:block;" id = "second">
                            <form id="unfollow">
                                {% csrf_token %}
                                <input type="hidden" id="custId" name="Follow_unfollow" value="unfollow">
                                <input type="submit" value="Unfollow" class="btn btn-secondary btn-sm">
                            </form>   
                        </div>


                        {% endif %}
                    {% comment %} {% else %}
                        <form action = "{% url 'prof' %}" id='prof' method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" id="profile" name="img" class="inputprof" onchange="form.submit()" accept="image/*">
                            <label for="profile">Upload Image</i></label> {% endcomment %}
                    {% endif %}
                </div>
            </div>
            <div class="row sub-row-two">
                <div class="col-sm-3 user-followers">
                    <p id="nfollowers"><strong>{{nfollowers}}</strong> Followers</p>
                </div>
                <div class="col-sm-3 user-followers">
                    <p id="nfollowers"><strong>{{nfollowing}}</strong> Following</p>
                </div>
            </div>
            <div class="row sub-row-three">
                {{bio}}
            </div>
        </div>
    </div>

    {% comment %} <h6 id="nfollowers" style="display: none"><strong>Followers: </strong>{{nfollowers}}</h6> {% endcomment %}
    {% comment %} {% if person_id != request.user.id %}
    <h6>{{follows}}</h6>
    {% endif %} {% endcomment %}

    {% comment %} <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{page_obj.previous_page_number}}">previous</a>
            {% endif %}
      
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
      
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">next</a>
                <a href="?page={{page_obj.paginator.num_pages}}">last &raquo;</a>
            {% endif %}
        </span>
      </div> {% endcomment %}
    <ul>
      
    <hr style="border-color:rgb(61, 61, 61)">
    
    {% comment %} <h6 id="nfollowers"><strong>Followers: </strong>{{nfollowers}}</h6><br>
    <h6 id="nfollowing"><strong>Following: </strong>{{nfollowing}}</h6> {% endcomment %}
    {% for post in posts %}
    <li class="profile-posts">
        {% if request.user.id == post.user.id %}
        By <strong>You</strong><br>
        {% else %}
            By <strong>{{post.user|title}}</strong><br>
        {% endif %}
        {{post.data}}<br>
        {% if post.post_image%}
        <img src="{{post.post_image.url}}" class="postProImg" alt="image">
        {% endif %}
         <p class="date">On {{post.time}}</p>
    </li>
    {% endfor %}
</ul>

  
{% endblock %}

{% block script %}
    <script  src="{% static 'network/follow.js' %}"></script>
{% endblock %}
